@import 'config';
// ============
// === core ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  background-color: $white-2;
  color: $black-1;
}

a {
  text-decoration: none;
  margin: 1px;
  padding: 0px;
}

ul {
  list-style: none;
  display: inline-flex;
}

input {
  margin: 4px;
}

// =================
// === structure ===

.row {
  display: inline-flex;
  align-content: center;
  box-sizing: border-box;
  vertical-align: middle;
}

.stack {
  display: block;
  margin: auto;
}

.fill-window {
  height: 100%;
  //position: absolute;
  left: 0;
  width: 100%;
  //overflow: hidden;
}

.fill {
  height: 100%;
  width: 100%;
  //position: absolute;
}

.cont {
  padding: 4px;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.col {
  display: block;
  margin: 2px;
}

.col-item {
  margin: 1px 2px;
}

.row.even {
  width: 100%;
  justify-content: space-evenly;
  vertical-align: middle;
}

.btn {
  min-width: 5rem;
  height: 1.9rem;
  margin: 0.25rem 0.5rem;
  padding: 0.2rem 1rem;
  text-align: center;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// ============
// === text ===

.txt .txt-trk {
  word-wrap: none;
  justify-content: left;
}

.txt-trk {
  left: 17.98%;
  right: 66.28%;
  top: 30.92%;
  bottom: 50.54%;
}

// ==================
// === Navigation ===

// === Navi ===
#navi-logo {
  margin: 10px 0 15px 35px;
}

.navi.btn {
  color: $nds-gry1;
}

.navi-links {
  float: right;
  margin-right: 30px;
}

// === menu ===
.menu-head {
  background-color: $nds-blu2;
  color: $nds-gry1;

  height: 4rem;
  padding: 1rem 0rem 0rem 2rem;
}

.menu-title {
  vertical-align: middle;
  width: auto;
  display: inline-flex;
}

.menu-btn {
  margin: 9px;
}

#vex-find {
  margin: auto;
  padding: 2px;
  max-height: 24px;
}

.cont.search {
  width: 100%;
}

.row.search {
  //max-height: 21px;
  overflow-x: visible;
  margin: 4px 0px;
}

// === foot ===

#footer {
  display: inline-flex;
  width: 100%;
}

.foot-sect {
  margin: 109px 32px;
  font-size: 16px;
  color: $nds-blu2;
  font-weight: bold;
}

#footer-sect1 {
  margin: 76px 120px;
  float: left;
}

#footer-sect2 {
  min-width: fit-content;
}

#footer-sect3 {
}

#footer-sect4 {
}
// ============
// === dash ===

.drop {
  margin-left: 0.4rem;
}
.group-bottom {
  height: 2px;
  margin-left: 1rem;
  background-color: $black-3;
}
.group-header {
  background-color: $black-3;
  color: $white-2;
  width: 100%;
  display: inline-flex;
  margin-bottom: 2px;
  padding-left: 1rem;
}
.group-body {
  margin-left: 1rem;
  background-color: $white-3;
}

.header-title,
.header-end {
  width: 20vw;
}

// =============
// === hello ===
.hello {
  display: grid;
}
.greeting {
  color: $white-2;
}

// ===============
// ===  forms  ===

.form {
  margin: 2px;
  height: 22px;
}
.form-group {
  padding: 0.2rem;
}

.form-field {
  width: 25vw;
}

.form-prompt {
  padding-left: 0.75rem;
}

// ==============
// ===  show  ===

i {
  margin-right: 0.5rem;
}
.show {
  padding: 1rem;
}

.spin {
  width: 200px;
}

// ==============
// === alerts ===
.alert {
  padding-left: 1rem;
}

.alert-warn {
  background-color: #ac3e3e;
  color: #fff;
}

.alert-good {
  background-color: $good-1;
  color: #fff;
}

.alert-note {
  background-color: $note-1;
  color: $white-3;
}

//==================
//==== COMP IDs ====

#navi-cont {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;

  padding: 0.5rem 0 0.3rem 0;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

#brow-cont {
  display: inline-flex;
  overflow: auto;
  height: auto;
}

#brow-menu {
}

#carol-cont {
  max-height: 265px;
  overflow: hidden;
  flex-wrap: nowrap;
}

#brow-list {
  float: right;
  overflow: auto;
}

#trk-cont {
  /* Auto Layout */
  display: flex;
  flex-direction: row;

  margin: 1.5px;
  padding: 13px 33px;

  width: 1472.38px;
  height: 97.42px;

  /* creamier cream */
  background: #fff1e4;
}

#trk-txt-song {
  width: 160px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}
#trk-txt-artist {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #959494;
}

//=================
//===== COLOR =====

.bg-blu2 {
  background-color: $nds-blu2;
}
.bg-pnk2 {
  background-color: $nds-pnk2;
}
.bg-crm2 {
  background-color: $nds-crm2;
}
.bg-crm3 {
  background-color: $nds-crm3;
}
.bg-blu2 {
  background-color: $nds-blu2;
}
